<div>
  <%= flash[:notice] %>
  <h3>Lookup population data by Zip code</h3>
  <%= form_tag("/lookup/show", method: "get", :enforce_utf8 => false) do %>
    <%= label_tag(:zip, "5 digit Zip code:") %>
    <%= text_field_tag(:zip) %>
    <%= submit_tag "Lookup", name: nil %>
  <% end %>
  <br/>
  <hr/>
  <h3>(Re)Load fresh data from s3</h3>
  <h4>Zip code to CBSA</h4>
  <blockquote>
  <% if @result['zip_to_cbsa'][:status] == 'COMPLETE' %>
    <%= form_tag("/zip_to_cbsa/reload", method: "post") do %>
      <%= submit_tag("Load ZIP to CBSA", remote: true) %>
    <% end %>
  <% else %>
    <div title="Refresh page to update...">
      <b>Status:</b> <em><%= @result['zip_to_cbsa'][:status] %></em>
    </div>
    <div title="Refresh page to update...">
      <em>Processed <b><%= @result['zip_to_cbsa'][:records_processed] %></b> records out of a total of <b><%= @result['zip_to_cbsa'][:total_records] %></b></em>
    </div>
  <% end %>
  </blockquote>
  <h4>CBSA to MSA</h4>
  <blockquote>
  <% if @result['cbsa_to_msa'][:status] == 'COMPLETE' %>
    <%= form_tag("/cbsa_to_msa/reload", method: "post") do %>
      <%= submit_tag("Load CBSA to MSA", remote: true) %>
    <% end %>
  <% else %>
    <div title="Refresh page to update...">
      <b>Status:</b> <em><%= @result['cbsa_to_msa'][:status] %></em>
    </div>
    <div title="Refresh page to update...">
      <em>Processed <b><%= @result['cbsa_to_msa'][:records_processed] %></b> records out of a total of <b><%= @result['cbsa_to_msa'][:total_records] %></b></em>
    </div>
  <% end %>
  </blockquote>
</div>